---
import "@/styles/global.scss";
import type Props from "@/pages/_layouts/Props";
const { metaData, noIndex = false } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content={metaData.description} />
		{noIndex && <meta name="robots" content="noindex" />}
		<title>{metaData.title}</title>
	</head>
	<body>
		<slot />
		<!-- The target of the teleport in Modal vue component start -->
		<dialog id="modal"></dialog>
		<!-- The target of the teleport in Modal vue component end -->
	</body>
</html>