@use "./variables" as *;
@use "./utility" as *;

@font-face {
  font-family: "nsjp";
  src: url(assetsUrl() + "/fonts/subset/NotoSansJP-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "nsjp";
  src: url(assetsUrl() + "/fonts/subset/NotoSansJP-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  font-size: $baseFontSize + px;
}

body {
  background-color: $colorBaseDark;
  color: $colorBaseLight;
  font-size: FontSize(16);
  font-family: $baseFontFamily;
  font-weight: $baseFontWeight;
  line-height: $baseLineHeight;
}
a {
  color: $colorMain;
  word-wrap: break-word;
  &:hover {
    text-decoration: underline;
  }
}
img,
video {
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}
[v-cloak] {
  display: none;
}
