// breakpoints
$sp: 767px;
$tab: 1280px - 1;
$laptop: 1920px - 1;
$desktop: 1920px;
$breakpoints: (
  "sp": "screen and (max-width: #{$sp})",
  "tab": "screen and (min-width: #{$sp + 1}) and (max-width: #{$tab})",
  "mobile": "screen and (max-width: #{$tab})",
  "pc": "screen and (min-width: #{$tab + 1})",
  "laptop": "screen and (min-width: #{$tab + 1}) and (max-width: #{$laptop})",
  "desktop": "screen and (min-width: #{$desktop})",
);

// color
// http://colormind.io/bootstrap/
$colorBaseLight: #eff5f1;
$colorBaseDark: #273547;
$colorLight: #919c72;
$colorDark: #80706f;
$colorMain: #4db6ac;

// video color setting
$videoDarkColor01: #0f0f0f;
$videoDarkColor02: rgba(255, 255, 255, 0.1);
$videoDarkColor03: rgba(255, 255, 255, 0.2);
$videoLightColor: #f1f1f1;
$videoLinkColor: #3ea6ff;
$videoThemeColor: #f00;

// font
$baseFontSize: 16;
$baseFontWeight: 400;
$baseFontFamily: "nsjp", sans-serif;
$baseLineHeight: 1.5;
