services:
  nginx: # リバースプロキシ
    build:
      context: ./nginx
    image: mysite_nginx
    container_name: nginx_ct
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - express
      - eleventy
      - react
      - laravel
      - phpmyadmin
  express: # 管理ユーザー認証
    build:
      context: ./express
    image: mysite_express
    container_name: express_ct
    restart: always
    volumes:
      - ./express/mount:/express
      - ./express/volume/node_modules:/express/node_modules
    env_file:
      - .env
    environment:
      CHOKIDAR_USEPOLLING: true
  eleventy: # 静的サイト
    build: ./eleventy
    image: mysite_eleventy
    container_name: eleventy_ct
    restart: always
    volumes:
      - ./eleventy/mount:/var/www/html
      - ./eleventy/volume/node_modules:/var/www/html/node_modules
    env_file:
      - .env
    environment:
      CHOKIDAR_USEPOLLING: true
  react: # frontend app
    build:
      context: ./react
    image: mysite_react
    container_name: react_ct
    restart: always
    volumes:
      - ./react/mount:/var/www/html
      - ./react/volume/node_modules:/var/www/html/node_modules
    env_file:
      - .env
  laravel: # api
    build:
      context: ./laravel
      args:
        - UID=${UID}
        - GID=${GID}
        - USERNAME=${USERNAME}
    env_file:
      - .env
    image: mysite_laravel
    container_name: laravel_ct
    restart: always
    volumes:
      - ./laravel/mount:/var/www/html
      - ./laravel/volume/storage:/var/www/html/storage
      - ./laravel/volume/vendor:/var/www/html/vendor
    depends_on:
      - mysql
  mysql: # データベース
    image: mysql:8.3.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    container_name: mysql_ct
    restart: always
    volumes:
      - ./mysql/volume/mysql:/var/lib/mysql
  phpmyadmin: # データベースGUI
    image: phpmyadmin:5.2.1
    container_name: phpmyadmin_ct
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - mysql
