services:
  proxy:
    build:
      context: ./proxy
    image: atsushitokuoka/mysite_proxy
  auth:
    build:
      context: ./auth
    image: atsushitokuoka/mysite_auth
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    image: atsushitokuoka/mysite_client
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.prod
    image: atsushitokuoka/mysite_server
