services:
  proxy:
    build:
      context: ./proxy
    image: mysite_proxy
    container_name: proxy_ct
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - auth
      - front
      - back
      - dbgui
  auth:
    build:
      context: ./auth
    image: mysite_auth
    container_name: auth_ct
    restart: always
    volumes:
      - ./auth:/auth
      - auth_node_modules:/auth/node_modules
    environment:
      AUTH_USER: ${AUTH_USER}
      AUTH_PASSWORD: ${AUTH_PASSWORD}
      AUTH_SECRET_KEY: ${AUTH_SECRET_KEY}
      CHOKIDAR_USEPOLLING: true
  front:
    build: ./front
    image: mysite_front
    container_name: front_ct
    restart: always
    volumes:
      - ./front:/front
      - front_node_modules:/front/node_modules
    environment:
      CHOKIDAR_USEPOLLING: true
      CDN_URL: ${CDN_URL}
  back:
    build:
      context: ./back
    image: mysite_back
    container_name: back_ct
    restart: always
    volumes:
      - ./back/var/www/html:/var/www/html
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: ${DB_NAME}
      DATABASE_USERNAME: ${MYSQL_USER}
      DATABASE_PASSWORD: ${MYSQL_PASSWORD}
    depends_on:
      - db
  db:
    image: mysql:8.3.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    container_name: db_ct
    restart: always
    volumes:
      - db_data:/var/lib/mysql
  dbgui:
    image: phpmyadmin:5.2.1
    container_name: dbgui_ct
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - db

volumes:
  auth_node_modules:
  front_node_modules:
  db_data:
