@use "../../_style/variables" as *;
@use "../../_style/layout" as *;

.Index {
  background-color: $colorBaseLight;
  @include Container() {}
  @include mq(tab) {
    @include Columns() {
    }
  }
  &__left {
    background-color: $colorLight;
    @include mq(tab) {
      @include Col(33.3, 0) {}
    }
  }
  &__mid {
    background-color: $colorMain;
    @include mq(tab) {
      @include Col(33.3, 0) {}
    }
  }
  &__right {
    background-color: $colorDark;
    @include mq(tab) {
      @include Col(33.3, 0) {}
    }
  }
}

.Hoge {
  @include Columns(10) {}
  & > * {
    height: 500px;
  }
  &__left {
    background-color: $colorMain;
    @include Col(26.6) {}
  }
  &__mid {
    background-color: $colorDark;
    @include Col(26.6) {}
  }
  &__right {
    background-color: $colorLight;
    @include Col(26.6) {}
  }
}