@use "../../_styles/variables" as *;
@use "../../_styles/layout" as *;

body {
  background-color: $videoDarkColor01;
  color: $videoLightColor;
}
a {
  color: $videoLinkColor;
}
.Video {
  padding-bottom: 10px;
  @include Container() {
    @include mq(sp) {
      padding-left: 0;
      padding-right: 0;
    }
    & > * {
      &:not(:first-child) {
        margin-top: 40px;
      }
    }
  }
}
