@use "../_style/utility" as *;
@use "../_style/base";

body {
  height: 100vh;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#menu-icon {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 2;
}

#drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  z-index: 1;
}

#modal {
  position: fixed;
  z-index: 3;
}