---
---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Sample01</h1>
</body>
</html>

<style lang="scss">
  h1 {
    color: red;
  }
</style>

<script>
  console.log('Hello, Astro!');
</script>