---
meta:
  title: プロフィール
  description: T.Kのプロフィールページです。
styles:
  - pages/profile/style.css
scripts:
  - pages/profile/main.js
---
{% extends "base.njk" %}

{% set pageData = {} %}
{% block data %}{% endblock %}

{% block contents %}
  <p>Profile</p>
{% endblock %}