---
meta:
  title: "写真一覧"
  description: "写真一覧ページです。"
styles:
  - pages/photo/index.css
scripts:
  - pages/photo/index.js
---
{% extends "base.njk" %}

{% set pageData = {} %}
{% block data %}{% endblock %}

{% block contents %}
  <p>photo</p>
{% endblock %}