<% const title = 'TOP PAGE' %>
<% const description = 'TOP PAGE Description' %>
<%- include('../template/header.ejs', { title: title, description: description}) %>

<header class="Header Header--fixed">
  <div class="Container MarginAuto">
    <div class="Header__inner">
      <h1 class="Header__logo"><a href="/">HEADER</a></h1>
      <ul class="Header__nav">
        <li class="Header__navItem"><a href="#">nav01</a></li>
        <li class="Header__navItem"><a href="#">nav02</a></li>
        <li class="Header__navItem"><a href="#">nav03</a></li>
        <li class="Header__navItem"><a href="#">nav04</a></li>
        <li class="Header__navItem"><a href="#">nav05</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="FirstView FirstView--hero Mb30">
  <div class="FirstView__content">
    <p class="FirstView__title">First View</p>
    <p class="FirstView__lead">Lorem ipsum dolor sit amet consectetur</p>
    <a href="#" class="Button Button--opacity FirstView__button">Button</a>
  </div>
</div>

<section class="Mb30">
  <div class="Container MarginAuto">
    <h2 class="Headline-underline Mb20"><span class="Headline-underline__text">Card</span></h2>
    <div class="CardWrapper">
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title01</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title02</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title03</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title04</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title05</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="Container MarginAuto">
    <h2 class="Headline-underline Mb20"><span class="Headline-underline__text">Headline</span></h2>
    <h2 class="Headline-underline">underline</h2>
  </div>
</section>

<%- include('../template/footer.ejs') %>