<% const title = 'TOP PAGE' %>
<% const description = 'TOP PAGE Description' %>
<%- include('../template/header.ejs', { title: title, description: description}) %>

<div class="Container MarginAuto">
  <h1>TOP PAGE</h1>
</div>

<%- include('../template/footer.ejs') %>