<% const title = 'TOP PAGE' %>
<% const description = 'TOP PAGE Description' %>
<%- include('../template/header.ejs', { title: title, description: description}) %>

<header class="Header Header--fixed">
  <div class="Container MarginAuto">
    <div class="Header__inner">
      <h1 class="Header__logo"><a href="/">HEADER</a></h1>
      <ul class="Header__nav">
        <li class="Header__navItem"><a href="#">nav01</a></li>
        <li class="Header__navItem"><a href="#">nav02</a></li>
        <li class="Header__navItem"><a href="#">nav03</a></li>
        <li class="Header__navItem"><a href="#">nav04</a></li>
        <li class="Header__navItem"><a href="#">nav05</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="FirstView FirstView--hero Mb30">
  <div class="FirstView__content">
    <p class="FirstView__title">First View</p>
    <p class="FirstView__lead">Lorem ipsum dolor sit amet consectetur</p>
    <a href="#" class="Button Button--opacity FirstView__button">Button</a>
  </div>
</div>

<section class="Mb100">
  <div class="Container MarginAuto">
    <div class="CardWrapper">
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title01</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title02</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title03</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title04</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
      <div class="Card">
        <a href="#">
          <div class="Card__img">
            <img src="https://picsum.photos/600/400" alt="Card Img">
          </div>
          <p class="Card__title">Card Title05</p>
          <p class="Card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident laboriosam, quo tenetur odit voluptate</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="Container MarginAuto">
    <div class="Flex Flex--col23p-pc Flex--col50p-tab Flex--col100p-sp Flex--between">
      <div class="Spacer-20">
        <h2 class="Headline-underline"><span>underline</span></h2>
        <h2 class="Headline-underline-dot"><span>underline dot</span></h2>
        <h2 class="Headline-underline-double"><span>underline double</span></h2>
      </div>
      <div class="Spacer-20">
        <h2 class="Headline-border"><span>border</span></h2>
        <h2 class="Headline-bgcolor"><span>bgcolor</span></h2>
        <h2 class="Headline-bg-underline"><span>bg underline</span></h2>
        <h2 class="Headline-borderleft"><span>border left</span></h2>
        <h2 class="Headline-bdleft-bg"><span>border left background</span></h2>
      </div>
      <div class="Spacer-20">
        <h2 class="Headline-shadow"><span>border left background</span></h2>
        <h2 class="Headline-borderleft-shadow"><span>border left border shadow</span></h2>
        <h2 class="Headline-tag"><span>Headline tag</span></h2>
        <h2 class="Headline-speech"><span>Headline speech</span></h2>
        <h2 class="Headline-stich"><span class="Headline-stich__inner"><span>Headline stich</span></h2>
      </div>
      <div class="Spacer-20">
        <h2 class="Headline-dogear"><span>Headline dogear</span></h2>
        <h2 class="Headline-ribbon"><span>Headline ribbon</span></h2>
        <h2 class="Headline-marker"><span>Headline marker</span></h2>
        <h2 class="Headline-changeline"><span>Headline changeline</span></h2>
      </div>
    </div>
  </div>
</section>

<%- include('../template/footer.ejs') %>