.Header {
  background-color: $color-black;
  padding-top: 20px;
  padding-bottom: 20px;
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: zindex(Header);
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    font-size: 36px;
    line-height: 1;
    @include mq(sp) {
      font-size: 18px;
    }
    a {
      display: block;
      color: $color-white;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    @include mq(sp) {
      display: none;
    }
  }
  &__navItem {
    line-height: 1;
    &:not(:first-child) {
      margin-left: 40px;
    }
    a {
      display: block;
      color: $color-white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.FirstView {
  height: 600px;
  background: url(https://picsum.photos/1200/675) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: zindex(FirstView);
  &--hero {
    height: 100vh;
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    color: $color-white;
  }
  &__title,&__lead {
    text-shadow: $color-black 2px 0 10px;
  }
  &__title {
    font-size: 64px;
    @include mq(sp) {
      font-size: 32px;
    }
  }
  &__lead {
    font-size: 32px;
    @include mq(sp) {
      font-size: 16px;
    }
  }
  & &__button {
    width: 200px;
    margin-top: 30px;
  }
}

.Button {
  display: inline-block;
  padding: 10px 20px;
  background-color: $color-black;
  color: $color-white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  
  &--opacity {
    &:hover {
      opacity: 0.8;
    }
  }
}

.Spacer {
  &-20 {
    > * {
      margin-bottom: 20px;
    }
  }
}
.Headline-underline {
  span {
    font-weight: bold;
    border-bottom: 2px solid $color-black;
  }
}
.Headline-underline-dot {
  span {
    font-weight: bold;
    border-bottom: 2px dotted $color-black;
  }
}
.Headline-underline-double {
  span {
    font-weight: bold;
    border-bottom: 2px double $color-black;
  }
}
.Headline-border {
  span {
    font-weight: bold;
    border-top: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
  }
}
.Headline-bgcolor {
  span {
    color: $color-white;
    background-color: $color-black;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
  }
}
.Headline-bg-underline {
  span {
    background-color: $color-black;
    color: $color-white;
    border-bottom: 2px solid $color-white;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
  }
}
.Headline-borderleft {
  span {
    padding-left: 10px;
    border-left: 3px solid $color-black;
  }
}
.Headline-bdleft-bg {
  span {
    background-color: $color-black;
    color: $color-white;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 3px solid $color-white;
  }
}
.Headline-shadow {
  span {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $color-white;
    box-shadow: 3px 3px 3px rgba($color-black, 0.2);
  }
}
.Headline-borderleft-shadow {
  span {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid rgba($color-black, 0.2);
    border-left: 5px solid $color-black;
  }
}
.Headline-tag {
  span {
    display: inline-block;
    background-color: $color-black;
    color: $color-white;
    padding: 5px 20px 5px 40px;
    border-radius: 20px 0 0 20px;
    position: relative;
    &::before {
      content: '●';
      font-size: 20px;
      color: $color-white;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.Headline-speech {
  span {
    display: inline-block;
    padding: 5px 10px;
    background-color: $color-black;
    color: $color-white;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      top: 100%;
      left: 10px;
      border: 10px solid transparent;
      border-top: 10px solid $color-black;
    }
  }
}
.Headline-stich {
  &__inner {
    padding: 5px 10px;
    display: inline-block;
    background-color: $color-black;
    color: $color-white;
    span {
      display: inline-block;
      border: 1px dashed $color-white;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
.Headline-dogear {
  span {
    display: inline-block;
    background-color: $color-black;
    color: $color-white;
    padding: 5px 10px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      border-width: 0 0 10px 10px;
      border-style: solid;
      border-color: $baseBgColor $baseBgColor $color-white;
      box-shadow: 3px 3px 1px rgba($color-black, 0.8);
    }
  }
}
.Headline-ribbon {
  span {
    display: inline-block;
    background-color: $color-black;
    color: $color-white;
    padding: 5px 10px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      border: none;
      border-bottom: 15px solid transparent;
      border-right: 20px solid rgba($color-black,0.7);
    }
  }
}
.Headline-marker {
  span {
    display: inline-block;
    background: linear-gradient(transparent 70%, $color-black 70%);
  }
}
.Headline-changeline {
  span {
    display: inline-block;
    border-bottom: 3px solid $color-black;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: block;
      border-bottom: 3px solid rgba($color-black, 0.3);
      bottom: -3px;
      width: 30%;
    }
  }
}

.CardWrapper {
  $CardWrapper-space: 1%;
  display: flex;
  flex-wrap: wrap;
  & > * {
    @include mq(pc) {
      width: calc( (100% / 3) - ($CardWrapper-space * 2 / 3) );
      &:not(:nth-child(3n + 1)) {
        margin-left: $CardWrapper-space;
      }
      &:nth-child(n + 4) {
        margin-top: $CardWrapper-space;
      }
    }
    @include mq(tab) {
      width: calc( (100% / 2) - ($CardWrapper-space / 2) );
      &:nth-child(2n) {
        margin-left: $CardWrapper-space;
      }
      &:nth-child(n + 3) {
        margin-top: $CardWrapper-space;
      }
    }
    @include mq(sp) {
      &:not(:first-child) {
        margin-top: 3%;
      }
    }
  }
}

.Card {
  background-color: $color-white;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 2px 1px rgba($color-black, 0.2);
  }
  a {
    color: $baseTextColor;
  }
  &__img {
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
}