---
meta:
  title: T.Kメディア制作事務所
  description: 兵庫で活動する、フリーランスのwebメディア制作事務所です。
styles:
  - pages/index/index.css
scripts:
  - pages/index/index.js
---
{% extends "base.njk" %}

{% set pageData = {
  pages: collections.pages
} %}
{% block data %}
  {{ pageData | json }}
{% endblock %}

{% block contents %}
  <div class="Index">
    {{ wpContents | json }}
    home
    <p>{{ ASSETS_URL }}</p>
    <Btn mode="button" appearance="main" path="/">ボタン</Btn>
  </div>
{% endblock %}