@use "./variables" as *;

// media query
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// container
@mixin Container() {
  $Container-gap-tab: 20;
  $Container-gap-sp: 10;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include mq(desktop) {
    max-width: 1600px;
  }
  @include mq(laptop) {
    max-width: 1400px;
  }
  @include mq(tab) {
    padding-left: $Container-gap-tab + px;
    padding-right: $Container-gap-tab + px;
  }
  @include mq(sp) {
    padding-left: $Container-gap-sp + px;
    padding-right: $Container-gap-sp + px;
  }

  @content;
}

// Column
@mixin Columns($gap: 0) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap * 1%;
  @content;
}
@mixin Col($width, $padding: 0) {
  width: $width * 1%;
  padding-left: $padding + px;
  padding-right: $padding + px;
  @content;
}

// Modal
@mixin Modal($width, $height, $padding) {
  max-width: 100%;
  width: $width + px;
  height: $height + px;
  padding: $padding + px;
  background-color: $colorBaseLight;
  color: $colorBaseDark;
  @content;
}
