
// container
.Container {
  max-width: 100%;
  @include mq(desktop) {
    width: 1400px;
  }
  @include mq(laptop) {
    width: 1200px;
  }
  @include mq(tab) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include mq(sp) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

// flex
.Flex {
  display: flex;
  flex-wrap: wrap;
  &--center {
    justify-content: center;
  }
  &--between {
    justify-content: space-between;
  }
  @include mq(pc) {
    &--col23p-pc > * {
      width: 23%;
    }
  }
  @include mq(tab) {
    &--col50p-tab > * {
      width: 50%;
    }
  }
  @include mq(sp) {
    &--col100p-sp > * {
      width: 100%;
    }
  }
}