
// breakpoints
$sp: 767px;
$tab: 1280px - 1;
$laptop: 1920px - 1;
$desktop: 1920px;
$breakpoints: (
  'sp': 'screen and (max-width: #{$sp})',
  'tab': 'screen and (min-width: #{$sp + 1}) and (max-width: #{$tab})',
  'laptop': 'screen and (min-width: #{$tab + 1}) and (max-width: #{$laptop})',
  'desktop': 'screen and (min-width: #{$desktop})',
) !default;

// color
$baseBgColor:#F4F5F7;
$baseTextColor: #333;
$color-primary: #000;
$color-secondary: #fff;

// font
$baseFontSize: 16px;
$baseFontFamily: 'Noto Sans JP', sans-serif;
$baseLineHeight: 1.5;
$baseLinkColor: #1a0dab;

// z-index
$z-index: (
  FirstView,
  Header
)