@use './variables' as *;
@use './mixins' as *;

// Column
.Column {
  $Column-gap: 10;
  $Column-col-width: 10;
  $Column-col-width-interval: 10;
  $Column-col-width-max: 100;

  display: flex;
  flex-wrap: wrap;
  margin-left: -$Column-gap + px;
  margin-right: -$Column-gap + px;

  @while $Column-col-width <= $Column-col-width-max {
    &__col#{$Column-col-width} {
      width: $Column-col-width * 1%;
      padding-left: $Column-gap + px;
      padding-right: $Column-gap + px;
    }
    @each $bp-key, $bp-val in $breakpoints {
      @media #{$bp-val} {
        &__col#{$Column-col-width}-#{$bp-key} {
          width: $Column-col-width * 1%;
          padding-left: $Column-gap + px;
          padding-right: $Column-gap + px;
        }
      }
    }
    $Column-col-width: $Column-col-width + $Column-col-width-interval
  }
}