@use './mixins' as *;
@use './variables' as *;

// margin
.MarginAuto {
  margin-left: auto;
  margin-right: auto;
}

// spacer
$spacer: 10;
$spacer_interval: 10;
$spacer_max: 100;
$spacer_directions: (
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
);
@while $spacer <= $spacer_max {
  @each $key, $val in $spacer_directions {
    .M#{$key}#{$spacer} {
      margin-#{$val}: $spacer + px;
    }
    .P#{$key}#{$spacer} {
      padding-#{$val}: $spacer + px;
    }
  }
  @each $bp-key, $bp-val in $breakpoints {
    @media #{$bp-val} {
      @each $key, $val in $spacer_directions {
        .M#{$key}#{$spacer}-#{$bp-key} {
          margin-#{$val}: $spacer + px;
        }
        .P#{$key}#{$spacer}-#{$bp-key} {
          padding-#{$val}: $spacer + px;
        }
      }
    }
  }
  $spacer: $spacer + $spacer_interval;
}

// container
$Container-gap-tab: 20;
$Container-gap-sp: 10;
.Container {
  @include mq(desktop) {
    max-width: 1600px;
  }
  @include mq(laptop) {
    max-width: 1400px;
  }
  @include mq(tab) {
    max-width: 100%;
    padding-left: $Container-gap-tab + px;
    padding-right: $Container-gap-tab + px;
  }
  @include mq(sp) {
    max-width: 100%;
    padding-left: $Container-gap-sp + px;
    padding-right: $Container-gap-sp + px;
  }
}