---
import BaseLayout from "@/pages/_layouts/BaseLayout.astro";
const metaData = {
	title: "Video",
	description: "Video page description",
};
---

<BaseLayout metaData={metaData}>
  <h1>{metaData.title}</h1>
</BaseLayout>