---
meta:
  title: T.Kメディア制作事務所
  description: 兵庫で活動する、フリーランスのwebメディア制作事務所です。
styles:
  - pages/index/style.css
scripts:
  - pages/index/main.js
---
{% extends "base.njk" %}

{% set pageData = {
  pages: collections.pages
} %}
{% block data %}
  {{ pageData | json }}
{% endblock %}

{% block contents %}
  <div class="Index">
    {{ wpContents | json }}
    home
    <p>{{ CDN_URL }}</p>
  </div>
{% endblock %}