---
meta:
  title: "Video"
  description: "Video description"
styles:
  - /assets/pages/video/style.css
scripts:
  - /assets/pages/video/main.js
---
{% extends "base.njk" %}

{% block dom %}
<div class="Video">
  <a href="#">hoge</a>
  <video-card></video-card>
</div>
{% endblock %}
{% block data %}
{{ videos }}
{% endblock %}