---
meta:
  title: "Video"
  description: "Video description"
styles:
  - /assets/pages/video/style.css
scripts:
  - /assets/pages/video/main.js
---
{% extends "base.njk" %}

{% set pageData = {
  videos: videos
} %}
{% block data %}
  {{ pageData | json }}
{% endblock %}

{% block dom %}
  <div class="Video">
    <template v-for="video in videos" :key="video.title">
      <video-card :title=video.title :path=video.path :id=video.id></video-card>
    </template>
  </div>
{% endblock %}