---
meta:
  title: "Video"
  description: "Video description"
styles:
  - /assets/pages/video/style.css
scripts:
  - /assets/pages/video/main.js
---
{% extends "base.njk" %}

{% set pageData = {
  videos: videos
} %}
{% block data %}
  {{ pageData | json }}
{% endblock %}

{% block dom %}
  <div class="Video">
    <video-card></video-card>
    <video-card></video-card>
    <video-card></video-card>
    <video-card></video-card>
    <video-card></video-card>
    <video-card></video-card>
  </div>
{% endblock %}