---
pagination:
  data: videos
  size: 1
  alias: video
permalink: "video/{{ video.id | slug }}/"
styles:
  - /assets/pages/video/single.css
scripts:
  - /assets/pages/video/single.js
---
{% extends "base.njk" %}

{% block title %}
  {{ video.title }}
{% endblock title %}
{% block description %}
  {{ video.description }}
{% endblock description %}

{% block data %}{% endblock %}

{% block dom %}
  <div class="Video">
    <video id="video" class="Video__video" src="{{video.path}}" controls></video>
    <p>{{ video.title }}</p>
    <v-btn @click="playVideo">再生する</v-btn>
  </div>
{% endblock %}