name: mysite-deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: DockerHubへログイン
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_EMAIL }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Dockerイメージをビルド
        run: docker-compose -f docker-compose.prod.yml build

      - name: ビルドしたイメージをDockerHubへプッシュ
        run: |
          docker push atsushitokuoka/mysite_proxy:latest
          docker push atsushitokuoka/mysite_auth:latest
          docker push atsushitokuoka/mysite_front:latest
          docker push atsushitokuoka/mysite_back:latest

      - name: Node.jsのバージョンを設定
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: cdn配信用のファイルをビルド
        run: |
          cd cdn
          npm install
          npm run build

      - name: distディレクトリの内容を表示
        run: ls dist
