name: mysite-deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: DockerHubへログイン
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_EMAIL }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Dockerイメージをビルド
        run: docker-compose -f docker-compose.prod.yml build

      - name: ビルドしたイメージをDockerHubへプッシュ
        run: |
          docker push atsushitokuoka/mysite_proxy:latest
          docker push atsushitokuoka/mysite_auth:latest
          docker push atsushitokuoka/mysite_front:latest
          docker push atsushitokuoka/mysite_back:latest

      - name: Node.jsのバージョンを設定
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: cdn配信用のファイルをビルド
        env:
          CDN_URL: ${{ secrets.CDN_URL }}
        run: |
          cd cdn
          npm install
          npm run build

      - name: cdnリポジトリへのSSH接続設定
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.MYSITE_CDN_REPOSITORY_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: cdnリポジトリへのファイルをプッシュ
        env:
          SSH_PRIVATE_KEY: ${{ secrets.MYSITE_CDN_REPOSITORY_SSH_PRIVATE_KEY }}
        run: |
          git clone git@github.com:AtsushiTokuoka/mysite-cdn.git
          rsync -a --delete --exclude='.git' cdn/dist/ mysite-cdn/
          ls -la mysite-cdn
