---
import BaseLayout from "@/pages/_layouts/BaseLayout.astro";
const metaData = {
	title: "404 Not Found",
	description: "404 Not Found page description",
};
---

<BaseLayout metaData={metaData}>
	<h1>{metaData.title}</h1>
</BaseLayout>


<style lang="scss">
	h1 {
		color: red;
	}
</style>